<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{ meta.title }}{% if meta.subtitle is defined %} <small>{{ meta.subtitle }}</small>{% endif %}</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <ul id="toc" class="nav nav-pills nav-stacked"></ul>
    </div>
    <div class="col-md-9">
        {{ content|raw }}
    </div>
</div>